@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Orbitron:wght@500;700&family=Poppins:wght@400;700&display=swap");

/* Reset básico (opcional pero recomendado) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-sans: "Poppins", sans-serif; /* Textos generales */
  --font-tech: "Orbitron", sans-serif; /* Títulos impactantes */
  --font-ui: "Inter", sans-serif; /* Navegación y botones */

  /* Colores */
  --color-light: #f1efec;
  --color-beige: #d4c9be;
  --color-dark-blue: #123458;
  --color-black: #030303;
  --color-light-blue: #0ff;
}

/* Títulos responsivos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  max-width: 90vw;
  word-wrap: break-word;
}

